<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sycorax.centralbar" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CentralBar</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
     <icon src="res/mimap/hdpi.png" density="hdpi" />
    <icon src="res/mimap/mdpi.png" density="mdpi" />
    <icon src="res/mimap/xhdpi.png" density="xhdpi" />
    <icon src="res/mimap/xxhdpi.png" density="xxhdpi" />
    <icon src="res/mimap/xxxhdpi.png" density="xxxhdpi" />
</platform>
</widget>